spacy>=3.0.0
pandas
numpy
tqdm
confection
PyYAML
blis
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
factor_analyzer
matplotlib
seaborn